In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
#Decorador para medir tiempo de ejecución
def medir_tiempo(func):
    def wrapper(*args, **kwargs):
        inicio = time.time()
        resultado = func(*args, **kwargs)
        fin = time.time()
        print(f"El tiempo de ejecucion de {func.__name__} : es de {fin - inicio:.4f} segundos")
        return resultado

    return wrapper

In [10]:
df = pd.read_csv("scraper_products.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     int64
 1   title       12 non-null     object
 2   price       12 non-null     object
dtypes: int64(1), object(2)
memory usage: 420.0+ bytes

In [16]:
df["price"] = df["price"].replace("[$,]", "", regex=True)

In [17]:
df.head()

   Unnamed: 0                                              title    price
0           0                  Pilas Energeizer AAA x 2 Unidades     2.34
1           1  Audífonos Inalámbricos Energy Sistem Style 2 T...    40.90
2           2                       Parlante Mini 3 Pro Souncore    60.86
3           3   Televisor Samsung The Serif QLED Smart TV 4K 55"  1303.48
4           4                Parlante Energy Sistem Urban 2 Onyx    34.77

In [18]:
df['price'] = df['price'].astype(float)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     int64
 1   title       12 non-null     object
 2   price       12 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 420.0+ bytes